{% extends './snippet_base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/highlight.css"/>
{% endblock %}


{% block head %}
<script src="/static/js/highlight.js"></script>
<script src="/static/js/clipboard.min.js"></script>
<script src="/static/js/uikit/components/accordion.js"></script>
<script type="text/javascript">
var start_time, ishidden = true;
function initVM( data ){
	// var vm = new Vue({
	// 	el: '#vm',
	// 	data:{
	// 		name: data.name || '',
	// 		brief: data.brief || '',
	// 		language: data.language || '{{ __languages[0]}}',
	// 		environment: data.environment ||'{{ __environments[0]}}',			
	// 		keywords: data.keywords ||'',
	// 		code: data.code ||'',
	// 		help:data.help ||'',
	// 		advice:'',
	// 		created_at: formatDate(data.created_at),
	// 		creator: data.creator || '',
	// 		master: data.master || '',
	// 		version: data.version || 0,
	// 		id: data.id || '',
	// 		next_version: data.next_version || null /*{newversion:21, score:20,contributor:'def'}*/,
	// 		contrib: data.contrib || {},
	// 		history: data.history || [],
	// 		stats: data.stats || {},
	// 		attachments: data.attachments || []
	// 	},
	// 	methods:{
	// 	}
	// });

	var vm = new Vue({
		el: '#vm',
		data:{
			name: data.name || '',
			brief: data.brief || '',
			language: data.language || '{{ __languages[0]}}',
			environment: data.environment ||'{{ __environments[0]}}',			
			keywords: data.keywords ||'',
			code: data.code ||'',
			help:data.help ||'',
			advice:'',
			id: data.id || '',
			attachments: data.attachments || []
		},
		methods:{
		}
	});

	$('#help').html( marked(data.help));

    var html = codeToHtml(data.code, 'dv-snippet-view');
	$('#codeAnddoc').html(html);
	$('pre > code').each(function(i, e) { hljs.highlightBlock(e) });
	
	var btn = document.getElementById('btn_copy');
	var clipboard = new Clipboard(btn);
	clipboard.on('success', function(e) {
	    e.clearSelection();
	    showCode(!ishidden);
	    {% if __user__.id %}
	    postJSON( '/api/snippet/s/{{ __id }}/refer', function(err,result){
	    });
	    {% endif %}
	});	 
	clipboard.on('error', function(e) {
		showCode(ishidden);
	});
}

function loadDetail(){
	loadingElement('details');
	var param = { idToName: true, nextVersion: true, contributor:true, history:true, stats:true};	
	getJSON( '/api/snippet/s/{{ __id }}', param, function(err, data){
		readyElement('details');
		if(err){
			fatal(err);
		}else{
			var vmdetail = new Vue({
				el: '#details',
				data:{
					created_at: formatDate(data.created_at),
					creator: data.creator || '',
					master: data.master || '',
					version: data.version || 0,
					id: data.id || '',
					next_version: data.next_version || null /*{newversion:21, score:20,contributor:'def'}*/,
					contrib: data.contrib || {},
					history: data.history || [],
					stats: data.stats || {}
				},
				methods:{
				}
			});
			$('#details').show();
		}
	});	
}

$(function () {
	loadingElement('vm');
	getJSON( '/api/snippet/s/{{ __id }}', function(err, snippet){
		readyElement('vm');
		if(err){
			fatal(err);
		}else{
			initVM( snippet );
			$('#vm').show();
			loadDetail();
		}
	});	
});

function showCode(shown){
	$('#orgcode').parent().parent().parent().attr('style', shown? 'height: auto; position: relative;' :'overflow:hidden;height:0;position:relative;');
}

function copyToClipboard(){
	var orgStyle = $('#orgcode').parent().parent().parent().attr('style');
	if( orgStyle.indexOf('hidden') !== -1){
		ishidden = true;
	}else{
		ishidden = false;
	}
	showCode(true);//show the element for copying to clipboard. On completed, hide it again
}


</script>
{% endblock %}

{% block content %}
<div id="content-block" class="dv-container x-content"  style="max-width:1180px;">
	<div  class="uk-grid" >
		<div class="uk-width-2-3" style="padding:20px;">
			<div id="vm" style="display:none;">
				<h2  v-text="name"class="uk-width-2-3"></h2>
				<p class="uk-text-muted" style="margin-bottom:5px" v-text="brief"></p>
				<hr style="margin-top:2px">
				<div style="margin-left:30px;">
					<p><span>{{ _('Program language') }}: <span v-text="language"></span></span>
						<span style="margin-left:40px;">{{ _('develop environment') }}: <span v-text="environment"></span></span>
					</p>
					<p>{{ _('Keywords') }}: <span v-text="keywords"></span></p>
				</div>
				<div style="margin-top:40px">
					<h3><b>{{ _('Code snippet') }}</b></h3>
					<div class="uk-float-right" style="text-align:right;margin-top:-30px;"><button id="btn_copy" onclick="copyToClipboard()"  data-clipboard-target="#orgcode"><span class="uk-icon-clipboard"></span> {{ _('Copy') }}</button></div>
					<div id="codeAnddoc" class="uk-block-muted"></div>
					<!--div class=""><textarea id="orgcode" v-text="code" class="uk-width-1-1" ></textarea></div-->
					<div class="uk-accordion" data-uk-accordion="{showfirst:false}">
					    <label class="uk-accordion-title uk-form-label uk-text-muted" style="font-size: 14px;" >{{ _('Raw Code')}} <i class="uk-icon-caret-square-o-down"></i></label>
						<div  class="uk-accordion-content uk-width-1-1" style="max-height:600px;">
							<pre><code id="orgcode" v-text="code"></code></pre>
						</div>
					</div>
				</div>
				<div style="margin-top:40px">
					<h3><b>{{ _('Help') }}</b></h3>
					<div id="help" class="wiki-content"></div>
				</div>
				<div style="margin-top:20px">
					<h3><b>{{ _('Attachment') }}</b></h3>
			    	<div>
						<table id="attachments" class="uk-table uk-table-striped">
							<tr v-for="att in attachments" v-bind:id="att.id">
								<td v-text="att.name"></td>
								<td style="text-align:right"><a v-bind:href="'/api/file/'+ att.id" class="uk-icon-cloud-download uk-icon-medium dv-link"></a></td>
							</tr>
						</table>
						<span v-if="attachments.length==0">{{_('None')}}</span>
					</div>
			    </div>
			</div>
		</div>

		<div class="uk-width-1-3" >
			<div id="details" class="uk-width-1-1" style="display:none;">
				<ul class="dv-box" style="margin-top:60px">
					<li><span v-text="creator + '{{_('Created at')}}' + created_at + ', Master: ' + master"></span></li>
					<li>{{ _('Revision')}}: <span v-text="version"></span><a v-if="'{{ __user__.id }}' && next_version===null" v-bind:href="'/snippet/s/' + id + '/edit'" class="dv-link uk-float-right" style="">{{ _('Edit') }}</a></li>
					<li>{{ _('Next revision')}}: 
						<span v-if="next_version">
							<span v-text="next_version.newversion"></span>
							<a v-if="'{{ __user__.id }}' &&  '{{ __user__.id }}'!==next_version.user_id && ( !next_version.contributor || (next_version.contributor && next_version.contributor.indexOf('{{ __user__.id }}')===-1))" class="dv-link uk-float-right" v-bind:href="'/snippet/pending/' + next_version.id + '/check'">{{ _('Check or Discard')}}(<span v-text="next_version.score"></span>%)</a>
							<span v-else class="uk-float-right">{{ _('Pending to check')}}</span>
						</span>
						<span v-else>{{ _('None')}}</span>
					</li>
				</ul>
				<h3 class="dv-box-title">统计信息</h3>
				<ul class="dv-box" >
					<li><span v-text="'昨天前共被引用' + stats.sum + '次'"></span></li>
					<li><span v-text="'上周被引用' + stats.last_week + '次'"></span></li>
					<li><span v-text="'上月被引用' + stats.last_month + '次'"></span></li>
					<li><span v-text="'去年被引用' + stats.last_year + '次'"></span></li>
				</ul>

				<h3 class="dv-box-title">{{_('Contribution')}}</h3>
				<ul class="dv-box" >
					<li>
						<span  v-for="(i,r) in contrib.edit" v-text="r.name + '(' + r.edit_count + ')' + (i===contrib.edit.length-1?'编辑':',')"></span>
						<span v-if="contrib.edit.length===0">暂无人编辑</span>
					</li>
					<li>
						<span  v-for="(i,r) in contrib.check" v-text="r.name + '(' + r.check_count + ')' + (i===contrib.check.length-1?'审核':',')"></span>
						<span v-if="contrib.check.length===0">暂无人审核</span>
					</li>
					<li>
						<span v-for="(i,r) in contrib.refer" v-text="r.name + '(' + r.refer_count + ')' + (i===contrib.refer.length-1?'引用':',')"></span>
						<span v-if="contrib.refer.length===0">暂无人引用</span>
					</li>
				</ul>

				<h3 class="dv-box-title">{{ _('Change log') }}</h3>
				<ul class="dv-box" >
					<li v-for="(i,r) in history">
						<a v-bind:href="'/snippet/s/' + id +'/history/' + r.newversion" class="dv-link uk-text-muted" v-text="'版次'+r.newversion"></a>
						<span v-text="': ' + r.name"></span>					
						<span v-if="i===history.length-1 && r.newversion !== 0" class="uk-float-right">
							<a v-bind:href="'/snippet/s/' + id + '/history'" class="dv-link">{{ _('Any More') }} </a>
						</span>
					</li>
					<li v-if="history.length === 0">{{ _('None')}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}
