{% extends './snippet_base.html' %}

{% block head %}
<script type="text/javascript">
function initVM( data ){
	var vm = new Vue({
		el: '#vm',
		debug:true,
		data:{
			lastest: arrayToMatrix(data.lastest) || [],
			stats: data.stats,
			best: arrayToMatrix(data.best) || []
		},
		methods:{
		}
	});	
}

$(function () {
	var param = { limit: 15 };
	getJSON( '/api/snippet/index', param, function(err, data){
		if(err){
			fatal(err);
		}else{
			initVM( data );
			$('#vm').show();
		}
	});
	Vue.config.debug = true;	

});

</script>
{% endblock %}

{% block content %}
<div id="content-block" class="dv-container x-content" style="max-width:1024px;">
	<div id="vm" class="dv-container" style="max-width:1024px;display:none;">
		<h2 style="font-size:24px;text-align:center;">{{ _('snippet-fibula is a snippet manager for multi-languages') }}</h2>
		<div class="dv-container uk-grid" style="margin-top:60px;">
			<div class="uk-width-1-4">
				<i class="uk-icon-codepen uk-icon-large uk-float-left"></i>
				<section style="margin-left: 40px">
					<span v-text="stats.count"></span>
					<p class="uk-text-muted" style="margin:0">代码段</p>
				</section>
			</div>
			<div class="uk-width-1-4">
				<i class="uk-icon-gear uk-icon-large uk-float-left"></i>
				<section style="margin-left: 40px">
					<span v-text="stats.contribute.last_week"></span>
					<p class="uk-text-muted" style="margin:0">上一周引用</p>
				</section>
			</div>
			<div class="uk-width-1-4">
				<i class="uk-icon-moon-o uk-icon-large uk-float-left"></i>
				<section style="margin-left: 40px">
					<span v-text="stats.contribute.last_month"></span>
					<p class="uk-text-muted" style="margin:0">上一月引用</p>
				</section>
			</div>
			<div class="uk-width-1-4">
				<i class="uk-icon-thumbs-up uk-icon-large uk-float-left"></i>
				<section style="margin-left: 40px">
					<span v-text="stats.contribute.sumary"></span>
					<p class="uk-text-muted" style="margin:0">总计引用</p>
				</section>
			</div>
		</div>
		<div style="margin-top:60px;">
			<h3 class="dv-text-caution" style="margin-bottom:5px;text-align:center;" >使用最多的代码段</h3>
			<hr style="margin-top:0px;margin-bottom:10px;">
			<table class="uk-width-1-1">
				<tr v-for="row in best">
					<td v-for="(col,item) in row" track-by="$index" class="uk-width-1-3">
						<div class="uk-float-left " style="height:40px;margin-right:10px;">
							<span v-if="item" class="dv-link uk-text-middle" v-text="item.language" style="font-size:20px;"></span>
						</div>
						<div v-if="item" style="margin-left:20px"><a v-bind:href="'/snippet/s/' + item.id" style="color:#333"><b v-text="item.name"></b></a>
							<p v-text="item.brief" class="uk-text-muted" style="margin-top:0"></p>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div style="margin-top:60px;">
			<h3 class="dv-text-caution" style="margin-bottom:5px;text-align:center;">最近更新的代码段</h3>
			<hr style="margin-top:0px;margin-bottom:10px;">
			<table class="uk-width-1-1">
				<tr v-for="row in lastest">
					<td v-for="(col,item) in row" track-by="$index" class="uk-width-1-3">
						<div class="uk-float-left " style="height:40px;margin-right:10px;">
							<span v-if="item" class="dv-link uk-text-middle" v-text="item.language" style="font-size:20px;"></span>
						</div>
						<div v-if="item" style=""><a v-bind:href="'/snippet/s/' + item.id" style="color:#333"><b v-text="item.name"></b></a>
							<p v-text="item.brief" class="uk-text-muted" style="margin-top:0"></p>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
{% endblock %}


