{% extends '../_base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/codemirror.css"/>
{% endblock %}

{% block head %}
<script src="/static/js/codemirror.js"></script>
<script src="/static/js/marked.js"></script>
<script src="/static/js/uikit/components/htmleditor.js"></script>
<script type="text/javascript">

function initVM( data ){
	var vm = new Vue({
		el: '#vm',
		data:{
			name: data.name || '',
			brief: data.brief || '',
			language: data.language || '{{ __languages[0]}}',
			environment: data.environment ||'{{ __environments[0]}}',			
			keywords: data.keywords ||'',
			code: data.code ||'',
			help:data.help ||'',
			advice:''
		},
		methods:{
			gendoc: function(){
				var html = '';
				if( this.code )
					html = codeToHtml(this.code);
				$('#codeAnddoc').html(html);
			},
			getPostData: function(){
				var data = {
					name: this.name,
					brief: this.brief,
					language: this.language,
					environment: this.environment,
					keywords: this.keywords,
					code: this.code,
					help: this.help
				};
				if(validateJsonObj('createSnippet', data)){
					return data;
				}	
			},
			submit: function(){},
			pass: function(){
				var data,
					form = $('#vm').find('form');
				var data = {
					id: '{{ __id }}',
					type: 'pass',
					advice: this.advice
				};

				form.postJSON( '/api/snippet/pending/check', data, function(err, result){
					if( !err ){
						$('#content-block').addClass('uk-hidden');
						//jumpTo( '{{ __form.redirect }}', "{{ _('History Page')}}", 3 );
					}
				});
			},
			discard: function(){
				postJSON( '/api/snippet/pending/check', {id:'{{ __id }}',type:'discard'}, function(err,result){
					if( !err ){
						$('#content-block').addClass('uk-hidden');
						jumpTo( '{{ __form.redirect }}', "{{ _('History Page')}}", 3 );
					}
				});
			}
		}
	});
	
	/*var htmleditor = UIkit.htmleditor($('#help').get(0), {
    markdown: true,
    maxsplitsize: 600
    });*/
	$('#help').html( marked(data.help));

    var html = codeToHtml(data.code, 'dv-snippet-view');
	$('#codeAnddoc').html(html);
}

$(function () {
	getJSON( '/api/snippet/pending/entity/{{ __id }}', function(err, snippet){
		if(err){
			fatal(err);
		}else{
			initVM( snippet );
		}
	});	
});

</script>
{% endblock %}

{% block jump-title  %}
操作成功
{% endblock %}

{% block content %}
<div id="content-block" class="dv-container x-content">
	<div id="vm" class="dv-container">
		<h2 class="x-title">{{ _(__form.name) }}</h2>
		{% if ! __id %}
		<div style="text-align:right"><a href="" class="dv-link">{{ _('Create snippet module') }}</a></div>
		{% endif %}
		<hr style="margin-top:2px">
		<form v-on:submit.prevent="submit" class="uk-form uk-form-stacked">
			<fieldset>
				<div class="uk-alert uk-alert-danger uk-hidden"></div>
			    <div class="uk-form-row uk-grid" style="margin-top:10px">
			    	<div class="uk-width-1-4">
				        <label class="uk-form-label">{{ _('Name') }}</label>
				        <div class="uk-form-controls">
				        	<input v-model="name" name="name"  type="text" class="uk-width-1-1" disabled>
				        </div>
			        </div>
			        <div style="margin-left:0px;margin-right:0px;">
				        <div class="uk-form-label" style="padding-top:30px">--</div>
			        </div>
			        <div class="uk-width-1-2">
				        <label class="uk-form-label">{{ _('description') }}</label>
				        <div class="uk-form-controls">
				        	<input v-model="brief" name="brief"  type="text" class="uk-width-1-1" disabled>
				        </div>
			        </div>
			        <div>
			        	<p class="help-text"></p>
			    	</div>
			    </div>
			    <div class="uk-form-row uk-grid" style="margin-top:20px">
			    	<div class="uk-width-1-4">
				        <label class="uk-form-label">{{ _('Program language') }}</label>
				        <div class="uk-form-controls">
				        	<select id="language" v-model="language" name="language" class="uk-width-1-1" disabled>
				        		{% for n,lang in __languages %}
				        			{% if loop.first %}
				        			<option>{{ lang }}</option>
				        			{% else %}
				        			<option>{{ lang }}</option>
				        			{% endif %}
				        		{% endfor %}
				        	</select>
				        </div>
			        </div>
			        <div style="margin-left:0px;margin-right:0px;">
				        <div class="uk-form-label" style="padding-top:30px">--</div>
			        </div>
			        <div class="uk-width-1-2">
				        <label class="uk-form-label">{{ _('develop environment') }}</label>
				        <div class="uk-form-controls">
				        	<select v-model="environment" name="environment" class="uk-width-1-1" disabled>
				        		{% for n, x in __environments %}
				        			{% if loop.first %}
				        			<option>{{ x }}</option>
				        			{% else %}
				        			<option>{{ x }}</option>
				        			{% endif %}
				        		{% endfor %}
				        	</select>
				        </div>
			        </div>
			        <div>
			        	<p class="help-text"></p>
			    	</div>
			    </div>
			    <div class="uk-form-row" style="margin-top:20px">
			        <label class="uk-form-label">{{ _('Keywords') }}</label>
			        <div class="uk-form-controls">
			        	<input v-model="keywords" name="keywords" type="text" class="uk-width-1-1" disabled>
			        </div>
			        <p class="help-text"></p>
			    </div>
			    <div class="uk-form-row" style="margin-top:20px">
			    	<label class="uk-form-label">{{ _('Code snippet') }}</label>
			    	<div class="uk-form-controls uk-hidden">
			        	<textarea v-model="code" v-on:change="gendoc" cols="" rows="" placeholder="粘贴代码块" class="uk-width-1-1" style="height:300px" disabled ></textarea>
			        </div>
			        <div id="codeAnddoc">
			        </div>
			    </div>
			    <div class="uk-form-row" style="margin-top:20px">
			        <label class="uk-form-label">{{ _('Help') }}</label>
			        <div class="uk-form-controls dv-snippet-view" id="help" >
			        	<!--textarea id="help" v-model="help" cols="" rows="" placeholder="" class="uk-width-1-1" style="height:100px" disabled></textarea-->
			        </div>
			        <p class="help-text"></p>
			    </div>
			    <div class="uk-form-row" style="margin-top:20px">
			        <label class="uk-form-label">{{ _('Advice') }}</label>
			        <div class="uk-form-controls" id="help" >
			        	<input id="advice" v-model="advice" type="text" placeholder="" class="uk-width-1-1">
			        </div>
			        <p class="help-text">将以列表项方式被追加到帮助信息栏</p>
			    </div>
			    <div class="uk-form-row uk-clearfix">
			    	<button  v-on:click="discard" class="uk-button-success uk-button-large" style="width:240px;" >
			        	<i class="uk-icon-close uk-icon-medium"></i> {{ _('Discard') }}
			        </button>
			        <button  v-on:click="pass" class="uk-button-primary uk-button-large uk-float-right" style="width:240px;" >
			        	<i class="uk-icon-check uk-icon-medium"></i> {{ _('Pass') }}
			        </button>
			    </div>
	    </fieldset>
		</form>
	</div>
</div>
{% endblock %}
