{% extends './snippet_base.html' %}

{% block title %} {{ _('Revision history')}} {% endblock %}

{% block content %}
<div id="content-block" class="dv-container x-content">
	<div id="vm" class="dv-container">
		<h2 class="x-title">{{ name }}的{{ _('Revision history') }}</h2>
		<div>
			<table class="uk-table uk-table-striped">
				{% for r in snippets %}		
				<tr>
					<td><a href="/snippet/history/view?id={{ r.snippet_id }}&version={{ r.newversion }}" class="dv-link"><b>{{ _('Revision')}} {{ r.newversion }}</b></a></td>
					<td></td>
					<td>{{ _('Created at')}}{{ r.updated_at|time2Date }}</td>
					<td>{{ r.user }}</td>					
				</tr>
				{% endfor %}
			</table>

			{% if page.pages > 1 %}
			<div style="text-align:center">
				<ul class="uk-pagination">
					{% if page.index == 1 %}
						<li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
					{% else %}
						<li><a href="?id={{id}}&page={{ page.index - 1 }}"><i class="uk-icon-angle-double-left"></i></a></li>
					{% endif %}
					{% for index in page.list %}
						{% if index == '...' %}
						<li class="uk-disabled"><span>...</span></li>
						{% elseif index == page.index %}
						<li class="uk-active"><span>{{ index }}</span></li>
						{% else %}
						<li><a href="?id={{id}}&page={{ index }}">{{ index }}</a></li>
						{% endif %}
					{% endfor %}
					{% if page.index == page.total %}
						<li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
					{% else %}
						<li><a href="?id={{id}}&page={{ page.index + 1 }}"><i class="uk-icon-angle-double-right"></i></a></li>
					{% endif %}
	            </ul>
	        </div>
            {% endif %}
		</div>
	</div>
</div>
{% endblock %}


