{% extends './snippet_base.html' %}


{% block css %}
<link rel="stylesheet" href="/static/css/codemirror.css"/>
{% endblock %}

{% block head %}
<script src="/static/js/codemirror.js"></script>
<script src="/static/js/uikit/components/htmleditor.js"></script>
<script src="/static/js/uikit/components/upload.js"></script>
<script src="/static/js/base64.min.js"></script>

<script type="text/javascript">
function initUploadField(prefix, allow, onlyone){
	var progressbar = $('#' +  prefix + '-progressbar'),
		bar         = progressbar.find('.uk-progress-bar'),
		uploadfiles = [],
		settings    = {
			action: '/api/file?t=snippet', // upload url

			before: function(settings, files){
				var i, names = [];
				for( i = 0; i<files.length; i++ ){
					names.push( files[i].name );
				}

				uploadfiles = [];
				$('#' + prefix +' tr').each(function(i){
					uploadfiles.push($(this).attr("name"));
				});

				for(var i = 0; i < uploadfiles.length; i++ ){
					if( names.indexOf(uploadfiles[i])!==-1){
						info('请不要上传相同的文件');
						return false;
					}
				}
				if(onlyone && names.length + uploadfiles.length > 1){
					info('只能上传1个文件');
					return false;
				}
				return true;
			},

			allow : allow || '*.*', // allow only images
			notallowed:function(file, settings){
				var exts = settings.allow.substring(settings.allow.indexOf('.')+2);
				exts = exts.slice(0,-1);
				exts = exts.split('|').join(', ');
				info('仅允许后缀名为'+ exts + '的文件');
			},
			loadstart: function() {
				bar.css("width", "0%").text("0%");
				progressbar.removeClass("uk-hidden");
			},
			progress: function(percent) {
				percent = Math.ceil(percent);
				bar.css("width", percent+"%").text(percent+"%");
			},
			complete:function(response){
				var allfiles = JSON.parse(response).files,
					f = allfiles[0];

				uploadfiles.push( f.name );
				$('#' + prefix).append( 
				'<tr id="' + f.attid +'" name="' + f.name +'"><td>' + f.name + '</td><td style="text-align:right"><a onclick="removeFile(\'' + f.attid + '\')" class="uk-close"></a></td></tr>' );
			},
			allcomplete: function(response) {
				bar.css("width", "100%").text("100%");
				setTimeout(function(){
					progressbar.addClass("uk-hidden");
				}, 250);
			}
		};

	var select = UIkit.uploadSelect($("#" + prefix + "-upload-select"), settings),
		drop   = UIkit.uploadDrop($("#" + prefix + "-upload-drop"), settings);
}

function getUploadAttachList(){
	var files = [];
	$('#attachments tr').each(function(i){
		files.push($(this).attr("id"));
	});
	return files;
}

function initVM( data ){
	var vm = new Vue({
		el: '#vm',
		data:{
			name: data.name || '',
			brief: data.brief || '',
			language: data.language || '{{ __languages[0]}}',
			environment: data.environment ||'{{ __environments[0]}}',			
			keywords: data.keywords ||'',
			code: data.code ||'',
			help:data.help ||'',
			attachments: data.attachments || []
		},
		methods:{
			gendoc: function(){
				var html = '';
				if( this.code ){
					html = codeToHtml(this.code);
				}
				$('#codeAnddoc').html(html);
			},
			getPostData: function(){
				var data = {
					name: this.name,
					brief: this.brief,
					language: this.language,
					environment: this.environment,
					keywords: this.keywords,
					code: this.code,
					help: this.help,
					attachments: getUploadAttachList()
				};
				if(validateJsonObj('createSnippet', data)){
					return data;
				}	
			},
			submit: function(){						
				var data,
					form = $('#vm').find('form');
				try{
					data = this.getPostData();
					form.showFormError();//clear error tip
				}catch(e){
					form.showFormError(e);
					return;
				}

				form.postJSON( '{{ __form.action }}', data, function(err, result){
					if( !err ){
						$('#content-block').addClass('uk-hidden');
						{% if __id %}
						jumpTo( result.redirect, "{{ _('History Page')}}", 3 );
						{% else %}
						//jumpTo( '/', "{{ _('Home')}}", 3 );
						jumpTo( result.redirect, "{{ _('History Page')}}", 3 );
						{% endif %}	
					}
				});
			},
			vm_removeFile: function(id)
			{
				$('#'+id).remove();			
			}
		}
	});
	
	var htmleditor = UIkit.htmleditor($('#help').get(0), {
	markdown: true,
	maxsplitsize: 600
	});

	if( data.code && data.code.length > 0 ){
		var html = codeToHtml(data.code);
		$('#codeAnddoc').html(html);
	}
}

$(function () {
	{% if __id %}
	loadingElement('vm');
	getJSON( '{{ __form.src }}', function(err, snippet){
		readyElement('vm');
		if(err){
			fatal(err);
		}else{
			initVM( snippet );
		}
	});

	{% else %}
	var helptext = '## 使用说明与示例\n[尽量提供]\n\n'
	+ '## 需要的头文件\n[可选]\n\n'
	+ '## 依赖的库\n[可选]\n\n'
	+ '## 附件说明\n[可选]\n\n'
	+ '## 版本更新列表\n[尽量提供]\n\n'
	+ '## TODO列表\n[尽量提供]\n\n';
	var data = {help:helptext};
	initVM( data );
	{% endif %}
	initUploadField('attachments');
	// initUploadField('codefiles', '*.(h|c|cpp|java|js|html|json|css|less|def|py|php|sh|rb|cs)');
	// initUploadField('pkgfile', '*.zip', true )

	$("[name='codetype']").on({
		change: function(){
			var v=$(this).val(),
				vs = ['code','file', 'pkg'];		
			
			$('#block-'+v).show();
			for(var i = 0; i<vs.length;i++){
				if(v!==vs[i]){
					$('#block-'+vs[i]).hide();
				}
			}
		}
	});

});
function removeFile(id)
{
	$('#'+id).remove();			
}

</script>
{% endblock %}

{% block jump-title  %}
{% if ! __id %}
snippet创建成功
{% else %}
snippet修改成功
{% endif %}
{% endblock %}

{% block content %}
<div id="content-block" class="dv-container x-content">
	<div id="vm" class="dv-container">
		<h2 class="x-title">{{ _(__form.name) }}</h2>
		{% if ! __id %}
		<div style="text-align:right"><a onclick="showHelp()" class="dv-link" >{{ _('Help')}}</a></div>
		{% endif %}
		<hr style="margin-top:2px">
		<form v-on:submit.prevent="submit" class="uk-form uk-form-stacked">
			<fieldset>
				<div class="uk-alert uk-alert-danger uk-hidden"></div>
				<div class="uk-form-row uk-grid" style="margin-top:10px">
					<div class="uk-width-1-4">
						<label class="uk-form-label">{{ _('Name') }}</label>
						<div class="uk-form-controls">
							<input v-model="name" name="name"  type="text" class="uk-width-1-1">
						</div>
					</div>
					<div style="margin-left:0px;margin-right:0px;">
						<div class="uk-form-label" style="padding-top:30px">--</div>
					</div>
					<div class="uk-width-1-2">
						<label class="uk-form-label">{{ _('description') }}</label>
						<div class="uk-form-controls">
							<input v-model="brief" name="brief"  type="text" class="uk-width-1-1">
						</div>
					</div>
					<div>
						<p class="help-text">函数名或模块名，3-50字符，必须是小写字母、数字、-连字线或_下划线字符。</p>
					</div>
				</div>
				<div class="uk-form-row uk-grid" style="margin-top:20px">
					<div class="uk-width-1-4">
						<label class="uk-form-label">{{ _('Program language') }}</label>
						<div class="uk-form-controls">
							<select id="language" v-model="language" name="language" class="uk-width-1-1">
								{% for n,lang in __languages %}
									{% if loop.first %}
									<option>{{ lang }}</option>
									{% else %}
									<option>{{ lang }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div style="margin-left:0px;margin-right:0px;">
						<div class="uk-form-label" style="padding-top:30px">--</div>
					</div>
					<div class="uk-width-1-2">
						<label class="uk-form-label">{{ _('develop environment') }}</label>
						<div class="uk-form-controls">
							<select v-model="environment" name="environment" class="uk-width-1-1">
								{% for n, x in __environments %}
									{% if loop.first %}
									<option>{{ x }}</option>
									{% else %}
									<option>{{ x }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div>
						<p class="help-text"></p>
					</div>
				</div>
				<div class="uk-form-row" style="margin-top:20px">
					<label class="uk-form-label">{{ _('Keywords') }}</label>
					<div class="uk-form-controls">
						<input v-model="keywords" name="keywords" type="text" class="uk-width-1-1">
					</div>
					<p class="help-text">3-100字符，最多10个关键词，需要把模块名称中的词语设置为关键字</p>
				</div>
				<!--div class="uk-form-row" style="margin-top:20px">
					<label class="uk-form-label">{{ _('代码类型') }}</label>
					<div class="uk-form-controls">
						<input type="radio" name="codetype" value="code" checked>单个代码段</input>
						<input type="radio" name="codetype" value="file" style="margin-left:30px;">代码文件(1个或多个)</input>
						<input type="radio" name="codetype" value="pkg" style="margin-left:30px;">包(1个zip压缩包，可包含文件夹)</input>
					</div>
				</div-->
				<div id="block-code" class="uk-form-row" style="margin-top:20px">
					<label class="uk-form-label">{{ _('Code snippet') }}</label>
					<div class="uk-form-controls">
						<textarea v-model="code" v-on:change="gendoc" cols="" rows="" placeholder="粘贴代码块" class="uk-width-1-1" style="height:300px" ></textarea>
					</div>
					<p class="help-text"></p>
					<div id="codeAnddoc">
					</div>
				</div>
				<!--div id="block-file" class="uk-form-row" style="margin-top:20px;display:none">
					<label class="uk-form-label">{{ _('代码文件') }}</label>
					<div>
						<table id="codefiles" class="uk-table uk-table-striped">
							<tr v-for="att in attachments" v-bind:id="att.id" v-bind:name="att.name">
								<td v-text="att.name"></td>
								<td style="text-align:right"><a v-on:click="vm_removeFile(att.id )" class="uk-close"></a></td>
							</tr>
						</table>
					</div>
					<div id="codefiles-upload-drop" class="uk-placeholder">
						<i class="uk-icon-cloud-upload uk-icon-medium"></i>{{_('Attach files by dropping them here or')}}<a class="uk-form-file">{{_('Select a file')}}<input id="codefiles-upload-select" type="file"></a>.
					</div>
					<div id="codefiles-progressbar" class="uk-progress uk-hidden">
						<div class="uk-progress-bar" style="width: 0%;">...</div>
					</div>
				</div>
				<div id="block-pkg" class="uk-form-row" style="margin-top:20px;display:none">
					<label class="uk-form-label">{{ _('代码包文件') }}</label>
					<div>
						<table id="pkgfile" class="uk-table uk-table-striped">
							<tr v-for="att in attachments" v-bind:id="att.id" v-bind:name="att.name">
								<td v-text="att.name"></td>
								<td style="text-align:right"><a v-on:click="vm_removeFile(att.id )" class="uk-close"></a></td>
							</tr>
						</table>
					</div>
					<div id="pkgfile-upload-drop" class="uk-placeholder">
						<i class="uk-icon-cloud-upload uk-icon-medium"></i>{{_('Attach files by dropping them here or')}}<a class="uk-form-file">{{_('Select a file')}}<input id="pkgfile-upload-select" type="file"></a>.
					</div>
					<div id="pkgfile-progressbar" class="uk-progress uk-hidden">
						<div class="uk-progress-bar" style="width: 0%;">...</div>
					</div>
				</div-->
				<div class="uk-form-row" style="margin-top:20px">
					<label class="uk-form-label">{{ _('Help') }}</label>
					<div class="uk-form-controls">
						<textarea id="help" v-model="help" cols="" rows="" placeholder="" class="uk-width-1-1" style="height:100px" ></textarea>
					</div>
					<p class="help-text">markdown格式，填写帮助信息，如需要包含何种头文件 、使用示例等</p>
				</div>
				<div class="uk-form-row" style="margin-top:20px">
					<label class="uk-form-label">{{ _('Attachment') }}</label>
					<div>
						<table id="attachments" class="uk-table uk-table-striped">
							<tr v-for="att in attachments" v-bind:id="att.id">
								<td v-text="att.name"></td>
								<td style="text-align:right"><a v-on:click="vm_removeFile(att.id )" class="uk-close"></a></td>
							</tr>
						</table>
					</div>
					<div id="attachments-upload-drop" class="uk-placeholder">
						<i class="uk-icon-cloud-upload uk-icon-medium"></i>{{_('Attach files by dropping them here or')}}<a class="uk-form-file">{{_('Select a file')}}<input id="attachments-upload-select" type="file"></a>.
					</div>
					<div id="attachments-progressbar" class="uk-progress uk-hidden">
						<div class="uk-progress-bar" style="width: 0%;">...</div>
					</div>
				</div>
				<div class="uk-form-row uk-clearfix">
					<button  type="submit" class="uk-button-primary uk-button-large uk-width-medium uk-align-center" style="width:480px;" >
						<i class="uk-icon-check uk-icon-medium"></i> {{ _(__form.name) }}
					</button>
				</div>
		</fieldset>
		</form>
	</div>
</div>
{% endblock %}


