{% extends './snippet_base.html' %}

{% block title %} {{ _('My Contribution')}} {% endblock %}

{% block head %}
<script src="/static/js/clipboard.min.js"></script>
<script type="text/javascript">
$(function(){
	new Clipboard('.referbtn');
});
</script>
{% endblock %}

{% block content %}
<div id="content-block" class="dv-container x-content">
	<div id="vm" class="dv-container">
		{% if type == 'create' %}
		<h2 class="x-title">{{ _('I Created') }}</h2>
		{% else %}
		<h2 class="x-title">{{ _('I Edited') }}</h2>
		{% endif %}
		<div>
			<table class="uk-table uk-table-striped">
				{% if count %}
				{% for r in snippets %}		
				<tr>					
					<td class="uk-width-2-10">
						{% if type == 'create' %}
						<a href="/snippet/s/{{ r.id }}" class="dv-link"><b>{{ r.name }}</b></a>
						{% else %}
						<a href="/snippet/s/{{ r.snippet_id }}" class="dv-link"><b>{{ r.name }}</b></a>
						{% endif %}
					</td>
					<td  class="uk-width-5-10">{{ r.brief }}</td>
					<td  class="uk-width-1-10">{{ r.language }}</td>
					<td  class="uk-width-1-10">{{ r.environment }}</td>
					<td class="uk-width-1-10">
						{% if type == 'create' %}
						<a data-clipboard-text="[{{r.name}}](/snippet/s/{{ r.id }})" class="dv-link referbtn">{{ _('Refer')}}</a>
						{% else %}
						<a data-clipboard-text="[{{r.name}}](/snippet/s/{{ r.snippet_id }})" class="dv-link referbtn">{{ _('Refer')}}</a>
						{% endif %}
					</td>					
				</tr>
				{% endfor %}
				{% else %}
				<tr>
					<td>{{ _('No record')}}</td>
				</tr>
				{% endif %}
			</table>

			{% if page.pages > 1 %}
			<div style="text-align:center">
				<ul class="uk-pagination">
					{% if page.index == 1 %}
						<li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
					{% else %}
						<li><a href="?page={{ page.index - 1 }}"><i class="uk-icon-angle-double-left"></i></a></li>
					{% endif %}
					{% for index in page.list %}
						{% if index == '...' %}
						<li class="uk-disabled"><span>...</span></li>
						{% elseif index == page.index %}
						<li class="uk-active"><span>{{ index }}</span></li>
						{% else %}
						<li><a href="?page={{ index }}">{{ index }}</a></li>
						{% endif %}
					{% endfor %}
					{% if page.index == page.pages %}
						<li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
					{% else %}
						<li><a href="?page={{ page.index + 1 }}"><i class="uk-icon-angle-double-right"></i></a></li>
					{% endif %}
	            </ul>
	        </div>
            {% endif %}
		</div>
	</div>
</div>
{% endblock %}


