{% extends './snippet_base.html' %}

{% block css %}
<style>
    .uk-nav-menu {
        position: fixed;
        top: 200px;
        right: 40px;
        border-left: 2px solid #ccc;
        padding-left: 10px
    }
</style>
{% endblock %}

{% block content %}
<ul class="uk-nav uk-nav-menu uk-nav-side" data-uk-scrollspy-nav="{closest:'li', smoothscroll:false}">
	<li>快捷导航</li>
	{% for n, lang in __languages %}
	<li><a href="#listlang{{n}}" class="dv-link">{{lang}}</a></li>
	{% endfor %}
</ul>

<div id="content-block" class="dv-container x-content">
	<div id="vm" class="dv-container">
		<h2 class="x-title">{{ _('Pending to check') }}</h2>
		{% for n, lang in __languages %}
		<div id="listlang{{ n }}" style="margin-bottom: 50px">
			<h3  class="dv-title" style="margin-bottom:0">{{ lang }}</h3>
			<div style="text-align:right"><a href="/snippet/pending/lang/{{ lang }}?page=1" class="dv-link">{{ _('More') }}({{ __counts[n] }})</a></div>			
			<hr style="margin-top:2px;border-top:2px solid #888;">
			{% if __counts[n] > 0 %}
			<table class="uk-table uk-table-striped">
				{% for m, record in __records[n] %}
				<tr>
					{% if __user__.id == record.user_id %}				
					<td><a href="/snippet/pending/{{ record.id }}/edit" class="dv-link"><b>{{ record.name }}</b></a></td>
					<td>{{ record.brief }}</td>
					<td><a href="/snippet/pending/{{ record.id }}/edit" class="dv-link">{{ _('Change') }}</a></td>
					{% else %}
					<td><a href="/snippet/pending/{{ record.id }}/check" class="dv-link"><b>{{ record.name }}</b></a></td>
					<td>{{ record.brief }}</td>
					<td>
						{% if record.contributor && record.contributor|find(__user__.id) %}
						<span>已审核({{ record.score }}%)</span>
						{% else %}
						<a href="/snippet/pending/{{ record.id }}/check" class="dv-link">{{ _('Check') }}({{ record.score }}%)</a>
						{% endif %}
					</td>
					{% endif %}					
				</tr>
				{% endfor %}
			</table>
			{% else %}
			<p>{{ _('No record')}}</p>
			{% endif %}
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}


