{% extends '../_base.html' %}

{% block title %} Snippet {% endblock %}

{% block pagehead %}

{% block head %}<!-- head  -->{% endblock %}


{% endblock %}

{% block header %}
<ul class="dv-navbar-nav uk-navbar-nav">
	<li><a href="https://github.com/kittqiu/snippet-fibula">devo-hub</a></li>
    <li class="uk-active"><a href="/snippet/" >snippet</a></li>
    <li><a href="/req/">requirement</a></li>
    <li><a href="">project</a></li>
    <li><a href="">documentations</a></li>
</ul> 
{% endblock %}


{% block mainheader %}
<div id="main-header" class="uk-grid">
	<div class="uk-width-1-1 uk-block uk-block-muted uk-flex x-toolbar" >
		<div class="uk-flex-item-auto " style="padding-right:20px;padding-left:20px;">
		{% block toolbar %}
			<form class="uk-form" action="/snippet/search" method="GET">
				<div style="margin-right:60px;">
		    		<input type="input" id="q" name="q" placeholder="find snippet"  class="uk-width-*" style="height:40px" >
		    	</div>		
		    	<button type="submit" class="uk-button uk-icon-search dv-button-search uk-float-right"></button>
			</form>
		{% endblock %}
		</div>
		<div class="uk-flex-item-none " style="padding:10px 20px;">
		{% if __user__ %}
		<a href="/snippet/wiki?lang=C" class="dv-link" style="margin-right:15px">{{ _('Overview') }}</a>
		<a href="/snippet/s" class="dv-link" style="margin-right:15px">{{ _('All') }}</a>
		<a href="/snippet/s/creation" class="dv-link" style="margin-right:15px">{{ _('Create') }}</a>
		<a href="/snippet/pending" class="dv-link" style="margin-right:15px">{{ _('Pending to check') }}</a>
		<a href="/snippet/mine/index" class="dv-link" style="margin-right:15px">{{ _('Mine') }}</a>
		<a onclick="showHelp()" class="dv-link" >{{ _('Help')}}</a>
		{% else %}					
		{% endif %}
		</div>			
	</div>
</div>
{% endblock %}

{% block readyscript %}
<script type="text/javascript">

</script>
{% endblock %}