{% extends '../_base.html' %}

{% block title %} 后台管理 {% endblock %}

{% block pagehead %}
{% block head %}<!-- head  -->{% endblock %}


{% endblock %}


{% block mainheader %}
<div id="main-header" class="uk-grid">
	<div class="uk-width-1-1 uk-block uk-block-muted uk-flex x-toolbar" >
		<div class="uk-flex-item-auto " style="padding:10px 20px;">
			<a href="/manage/user/role" class="dv-link" style="margin-right:15px">用户角色</a>
		{% block toolbar %}
		{% endblock %}
		</div>
		<div class="uk-flex-item-none " style="padding:10px 20px;">
		{% if __user__ %}
		{% block right_toolbar %}
		{% endblock %}
		<a onclick="showHelp()" class="dv-link" >{{ _('Help')}}</a>
		{% else %}					
		{% endif %}
		</div>			
	</div>
</div>
{% endblock %}

{% block readyscript %}
<script type="text/javascript">
</script>
{% endblock %}