{% extends './manage_base.html' %}

{% block head %}
<script src="/static/js/react.js"></script>
<script src="/static/js/react-dom.js"></script>
<script src="/static/js/browser.min.js"></script>
<script type="text/javascript">
var ENV = {
	user: {
		id: "{{__request__.user.id}}"
	}
};

</script>

{% if __production__ %}
<script type="text/javascript">
{% include './component/build/UserRole.js' %}
</script>
<script type="text/babel">
ReactDOM.render(
	<UserRole />,
		document.getElementById('vm')
	);
</script>
{% else %}
<script type="text/babel">
{% include './component/src/UserRole.jsx' %}
ReactDOM.render(
	<UserRole />,
		document.getElementById('vm')
	);
</script>
{% endif %}

{% endblock %}


{% block content %}
<div id="content-block" class="dv-container x-content" style="max-width:600px">
	<div id="vm" class="dv-container uk-width-1-1"  style="max-width:600px">
		
	</div>
</div>
{% endblock %}