{% extends '../project_base.html' %}

{% block head %}
<script src="/static/js/uikit/components/datepicker.js"></script>


<script type="text/javascript">
var ENV = {
	user: {
		id: "{{__request__.user.id}}"
	}
};
</script>

{% if __production__ %}
<script src="/static/js/react.min.js"></script>
<script src="/static/js/react-dom.min.js"></script>
<script type="text/javascript">
{% include './component/build/task.js' %}
{% include './component/build/mydaily.js' %}
</script>
{% else %}
<script src="/static/js/react.js"></script>
<script src="/static/js/react-dom.js"></script>
<script src="/static/js/browser.min.js"></script>
<script type="text/babel">
{% include './component/src/task.jsx' %}
{% include './component/src/mydaily.jsx' %}
ReactDOM.render(
	<MyDaily  />,
		document.getElementById('vm')
	);
</script>
{% endif %}


{% endblock %}


{% block content %}
<div id="content-block" class="dv-container x-content" style="max-width:1080px">
	<div id="vm" class="dv-container uk-width-1-1"  style="max-width:1080px">
		
	</div>
</div>
{% endblock %}

{% block readyscript %}
{% if __production__ %}
<script type="text/javascript">
ReactDOM.render(
 	React.createElement(MyDaily, null), document.getElementById('vm')
 	);
</script>
{% endif %}
{% endblock %}


