{% extends '../project_base.html' %}

{% block head %}
<script src="/static/js/uikit/components/datepicker.js"></script>
<script src="/static/js/react.js"></script>
<script src="/static/js/react-dom.js"></script>
<script src="/static/js/browser.min.js"></script>

<script type="text/babel">

var UkTab = React.createClass({
	getInitialState: function() {
	    return {view: 'view_task'};
	},
	handleClick: function(ev){
		var id = ev.target.id;
		if( id && id.indexOf('view_')===0){
			this.setState({ view: ev.target.id });
		}
	},
	render: function(){
		return (
			<div>			
				<ul className="uk-tab" data-uk-tab>
					{
						React.Children.map(this.props.children, function (child) {
						  var cls = child.props.id == this.state.view ? 'uk-active' : '';
		                  return (<li onClick={this.handleClick} className={cls} >{child}</li>);
		                }, this)
					}
				</ul>
				<ResourceView display={this.state.view == "view_res"?'':'uk-hidden'}/>
				<TaskView display={this.state.view == "view_task"?'':'uk-hidden'}/>
			</div>
		);
	}
});

{% include './project_res.js' %}
{% include './project_task.js' %}

ReactDOM.render(
	<UkTab>
		<a id="view_task" >任务</a>
		<a id="view_res" >资源</a>
	</UkTab>, 
	document.getElementById('tab_views'));
</script>
<script type="text/javascript">
var Tasks = {
	root:{ id:'root', name:'{{project.name}}', parent: 'none' }
};
</script>

{% endblock %}


{% block content %}
<div id="content-block" class="dv-container x-content" style="max-width:1480px">
	<div id="vm" class="dv-container uk-width-1-1"  style="max-width:1480px">
		<h2 class="x-title">项目: {{project.name}}</h2>
		<!--hr style="margin-top:2px"-->
		<div id="tab_views" class="uk-width-1-1">
		</div>
	</div>
</div>
{% endblock %}


