{% extends '../project_base.html' %}

{% block right_toolbar %}
<a href="/project/p/creation" class="dv-link" style="margin-right:15px">{{ _('Create project') }}</a-->
{% endblock %}

{% block head %}

<script type="text/javascript">
var ENV = {
	user: {
		id: "{{__request__.user.id}}"
	}
};
</script>

{% if __production__ %}
<script src="/static/js/react.min.js"></script>
<script src="/static/js/react-dom.min.js"></script>
<script type="text/javascript">
{% include './component/build/project_list.js' %}
</script>
{% else %}
<script src="/static/js/react.js"></script>
<script src="/static/js/react-dom.js"></script>
<script src="/static/js/browser.min.js"></script>
<script type="text/babel">
{% include './component/src/project_list.jsx' %}
ReactDOM.render(
	<MyHistoryProject  page='{{__page}}' />,
		document.getElementById('vm')
	);
</script>
{% endif %}


{% endblock %}


{% block content %}
<div id="content-block" class="dv-container x-content" style="max-width:1080px">
	<div id="vm" class="dv-container uk-width-1-1"  style="max-width:1080px">
		
	</div>
</div>
{% endblock %}

{% block readyscript %}
{% if __production__ %}
<script type="text/javascript">
ReactDOM.render(
 	React.createElement(MyHistoryProject, {page:'{{__page}}'}), document.getElementById('vm')
 	);
</script>
{% endif %}
{% endblock %}


