{% extends '../project_base.html' %}

{% block head %}
<script src="/static/js/uikit/components/datepicker.js"></script>
<script src="/static/js/react.js"></script>
<script src="/static/js/react-dom.js"></script>
<script src="/static/js/browser.min.js"></script>

{% if __production__ %}
<script type="text/javascript">
{% include './component/build/task_dlg.js' %}
{% include './component/build/task_new.js' %}
{% include './component/build/project.js' %}
</script>
<script type="text/babel">
ReactDOM.render(
	<Project url=""/>,
	document.getElementById('vm')
	);
</script>
{% else %}
<script type="text/babel">
{% include './component/src/task_dlg.jsx' %}
{% include './component/src/task_new.jsx' %}
{% include './component/src/project.jsx' %}
ReactDOM.render(
	<Project url=""/>,
	document.getElementById('vm')
	);
</script>
{% endif %}



{% endblock %}


{% block content %}
<div id="content-block" class="dv-container x-content" style="max-width:1080px">
	<div id="vm" class="dv-container uk-width-1-1"  style="max-width:1080px">
		
	</div>
</div>
{% endblock %}


