{% extends '../team_base.html' %}

{% block head %}
<script src="/static/js/react.js"></script>
<script src="/static/js/react-dom.js"></script>
<script src="/static/js/browser.min.js"></script>
<script type="text/javascript">
var ENV = {
	user: {
		id: "{{__request__.user.id}}"
	}
};
var mode = "{{ __mode__ }}" || 'ro';
var perm_edit = {{__perm_Edit__ || false}};
</script>

{% if __production__ %}
<script type="text/javascript">
{% include './component/build/structure.js' %}
</script>
<script type="text/babel">
ReactDOM.render(
	<Structure mode={mode} perm_edit={perm_edit}/>,
		document.getElementById('vm')
	);
</script>
{% else %}
<script type="text/babel">
{% include './component/src/structure.jsx' %}
ReactDOM.render(
	<Structure mode={mode} perm_edit={perm_edit}/>,
		document.getElementById('vm')
	);
</script>
{% endif %}

{% block css %}
<style>
    .uk-nav-menu {
        position: fixed;
        top: 300px;
        left: 40px;
        border-right: 2px solid #ccc;
        padding-right: 10px
    }
</style>
{% endblock %}


{% endblock %}


{% block content %}
<div id="content-block" class="dv-container x-content" style="max-width:960px">
	<div id="vm" class="dv-container uk-width-1-1"  style="max-width:960px">
		
	</div>
</div>
{% endblock %}

