@import "../uikit/themes/default/uikit.less";

@navbar-background:                             #cb3837;
@navbar-nav-color:                              #E5BAD3;
@navbar-nav-hover-background:                   #a42b2b;
@navbar-nav-hover-color:                        #ffffff;
@navbar-nav-active-background:                  #a42b2b;
@navbar-nav-active-color:                       #ffffff;
