<!DOCTYPE html>
<html xmlns:snippet="http://www.snippet-fibula.com/" {{ __website__.xmlns|safe }}>
<head>
	<meta charset="utf-8"/>
	<title>{% block title %} ??? {% endblock %} - {{ __website__.name }}</title>
	<meta name="viewport" content="width=device-width"/>
	<meta name="keywords" content="{{ __website__.keywords }}"/>
	<meta name="description" content="{{ __website__.description }}"/>
	{% block meta %} <!-- meta here --> {% endblock %}
	<!-- BEGIN CSS COMPRESS -->
	<!-- ENDCSS COMPRESS -->	
	<link rel="stylesheet" href="/static/css/theme/{{ __theme__ }}.css"/>	
	{% block css %}<!-- css -->{% endblock %}
	{% if __production__ %}
	<script src="/static/js/all.js"></script>
	{% else %}
	<!-- BEGIN JAVASCRIPT COMPRESS -->
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/uikit/uikit.js"></script>
	<script src="/static/js/uikit/components/notify.js"></script>
	<script src="/static/js/vendor.js"></script>
	<script src="/static/js/vue.js"></script>
	<script src="/static/js/jjv.js"></script>
	<script src="/static/js/form_schema.js"></script>
	<script src="/static/js/lodash.min.js"></script>
	<script src="/static/js/marked.js"></script>
	
	<!-- END JAVASCRIPT COMPRESS -->
	{% endif %}
	{% block pagehead %}<!-- head  -->{% endblock %}
</head>
<body>
	<div id="header">
		{% block header %}
		<ul id="top" class="dv-navbar-nav uk-navbar-nav">
			<li><a href="/">devo-hub</a></li>
	        <li><a href="/snippet/">snippet</a></li>
	        <li><a href="/project/">project</a></li>
	        <!--li><a href="/req/">requirement</a></li-->
	        <li><a href="/train/">train</a></li>
	        <li><a href="/team/">team</a></li>	        
	        {% if __user__.username == 'Admin' %}
	        <li><a href="/manage/">manage</a></li>	        
	        {% endif %}
    	</ul> 
    	{% endblock %}   					
		<ul class="dv-navbar-nav uk-navbar-nav" style="float:right;">
			{% if __user__ %}
			<li class="" data-uk-dropdown="{pos:'left-bottom'}" style="padding-top:10px;margin-right:20px;">
                    {{ __request__.user.name }}<i class="uk-icon-caret-down"></i>
                    <div class="uk-dropdown uk-dropdown-navbar" style="top: 30px; left: -170px;">
                        <ul class="uk-nav uk-nav-navbar uk-subnav-pill">
                        	<li><a href="/user/changepassword">{{ _('change password')}}</a></li>
                        	<li><a href="/user/changeinfo">修改个人信息</a></li>
                            <li class="uk-nav-divider"></li>
                            <li class="uk-active"><a href="/auth/signout?referer={{__request__.url}}">{{ _('logout')}}</a></li>
                        </ul>
                    </div>
            </li>
            {% else %}
			<li><a href="/login" class="">{{ _('log in') }}</a></li>
			<li><a href="/signup" class="">{{ _('sign up') }}</a></li>
		{% endif %}
		</ul>
	</div>
	<div id="main">
		{% block mainheader %}
		<div id="main-header" class="uk-grid">
			<div class="uk-width-1-1 uk-block uk-block-muted uk-flex x-toolbar" >
				<div class="uk-flex-item-auto " style="padding-right:20px;padding-left:20px;">
				{% block toolbar %}
				{% endblock %}
				</div>		
			</div>
		</div>
		{% endblock %}
		<div id="main-content">
			<div id="jump-block" class="dv-container x-content uk-hidden">
				<div class="uk-alert uk-alert-success uk-alert-large">
					<h2>{% block jump-title  %}成功{% endblock %}</h2>
					<p><b id="jump-timeout" class="uk-text-danger">5</b> 秒后页面将自动跳转到<a id="jump-href"></a>......</p>
				</div>
			</div>
			{% block content %}
			{% endblock %}
		</div>
		<div id="main-helper">
			<div id="dialog-help" class="uk-modal">
			    <div class="uk-modal-dialog uk-modal-dialog-large">
			    	<a class="uk-modal-close uk-close"></a>
			    	<div class="uk-modal-header">{{ _('Help') }}</div>
			        <div id="helptext" class="wiki-content">
			        </div>
			    </div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="uk-width-medium-1-2 uk-container-center uk-text-center">
			<a href="" id="devohub-loves-you">devohub-loves-you</a>
		</div>
	</div>
	<script type="text/javascript">
	function jumpTo(url,addrdesc,timeout){

		$('#jump-href').attr('href', url);
		$('#jump-href').text(addrdesc);
		if(!timeout){
			timeout = 5;
		}
		$('#jump-timeout').text(''+ timeout);
		$('#jump-block').removeClass('uk-hidden');
		setInterval( function(){
			var n = parseInt($('#jump-timeout').text());
			n--;
			if( n === 0 ){
				clearInterval(this);
				if(!url){
					window.history.back();
				}else{
					location.assign(url);
				}				
			}else{
				$('#jump-timeout').text(''+ n);
			}
		}, 1000 );		
	}

	var helptxt = null;
	function showHelp(){
		if( helptxt !== null ){//load help only once
			modal = UIkit.modal("#dialog-help");
			modal.show();
			return;
		}
		var data = { path: '{{ __request__.path }}' };
		getJSON( '/api/help', data, function(err, result ){
			if(err){
				fatal(err);
			}else{
				helptxt = result.help;
				if( helptxt === ''){
					helptxt = '未找到该页的帮助文档.';
				}
				$('#helptext').html(marked(helptxt));
				var modal = UIkit.modal("#dialog-help");
				modal.show();
			}
		});
	}

	$(function(){
		var paths = location.pathname.split('/'),
			subsys = '/' + paths[1] + '/';
		$("a[href='" + subsys + "']").parent().addClass('uk-active');
	});
	</script>
	{% block readyscript %} {% endblock %}
</body>
</html>