{% extends '../_base.html' %}

{% block title %} Team {% endblock %}

{% block pagehead %}
{% if __production__ %}
<script src="/static/js/react.min.js"></script>
<script src="/static/js/react-dom.min.js"></script>
{% else %}
<script src="/static/js/react.js"></script>
<script src="/static/js/react-dom.js"></script>
<script src="/static/js/browser.min.js"></script>
{% endif %}
<script src="/static/js/jquery.treegrid.js"></script>
<link rel="stylesheet" href="/static/css/jquery.treegrid.css"/>	
{% block head %}<!-- head  -->{% endblock %}


{% endblock %}


{% block mainheader %}
<div id="main-header" class="uk-grid">
	<div class="uk-width-1-1 uk-block uk-block-muted uk-flex x-toolbar" >
		<div class="uk-flex-item-auto " style="padding:10px 20px;">
			<a href="/team/evaluation" class="dv-link" style="margin-right:15px">评价</a>
			<a href="/team/structure" class="dv-link" style="margin-right:15px">组织架构</a>
		{% block toolbar %}
		{% endblock %}
		</div>
		<div class="uk-flex-item-none " style="padding:10px 20px;">
		{% if __user__ %}
		{% block req_right_toolbar %}
		{% endblock %}
		<a onclick="showHelp()" class="dv-link" >{{ _('Help')}}</a>
		{% else %}					
		{% endif %}
		</div>			
	</div>
</div>
{% endblock %}

{% block readyscript %}
<script type="text/javascript">
</script>
{% endblock %}