{% extends '../_base.html' %}

{% block pagehead %}
<script src="/static/js/sha1.min.js"></script>
<script type="text/javascript">
$(function () {
	var vm = new Vue({
		el: '#vm',
		data:{
			username: '',
			password: ''
		},
		methods:{
			getPostData: function(){
				var data = {
					username: this.username,
					password: this.password
				};
				if(validateJsonObj('login', data)){
					//salt password
					data.password = CryptoJS.SHA1( this.password + '{{ __salt__ }}' ).toString();
					return data;
				}				
			},
			submit: function(){
				var data,
					form = $('#vm').find('form');
				try{
					data = this.getPostData();
					//form.showFormError();//clear error tip
				}catch(e){
					form.showFormError(e);
					return;
				}			
				form.postJSON( '/api/authenticate', data, function(err, result){
					if( !err ){
						$('#content-block').addClass('uk-hidden');
						jumpTo( '/snippet/', "{{ _('Home')}}", 1 );
						
					}else{
						console.log(err);
					}
				});
			}
		}
	});
});

</script>
{% endblock %}

{% block title %} {{ _('log in')}} {% endblock %}

{% block jump-title  %}
登录成功。
{% endblock %}

{% block content %}
<div id="content-block" class="dv-container x-content">
	<div id="vm" class="dv-container x-narrow">
		<h2 class="x-title">{{ _('log in') }}</h2>
		<div style="text-align:right"><a href="/auth/ConfirmEmail" class="dv-link">{{ _('Confirm email again') }}</a></div>
		<hr style="margin-top:2px">
		<form v-on:submit.prevent="submit" class="uk-form uk-form-stacked">
			<fieldset>
				<div class="uk-alert uk-alert-danger uk-hidden"></div>
			    <div class="uk-form-row">
			        <label class="uk-form-label">{{ _('User name') }}</label>
			        <div class="uk-form-controls">
			        	<input v-model="username" name="username"  type="text" placeholder="{{ _('user name input')}}" class="uk-width-1-1" autofocus>
			        </div>
			        <p class="help-text">允许用户名或邮箱</p>
			    </div>
				<div class="uk-form-row">
			        <label class="uk-form-label">{{ _('password') }}</label>
			        <div class="uk-form-controls">
			        	<input v-model="password" name="password" type="password" class="uk-width-1-1">
			        </div>
			        <p class="help-text"></p>
			    </div>
			    <div class="uk-form-row">
			    	<div class="uk-form-controls">
			        	<button  type="submit" class="uk-button-primary uk-button-large uk-width-1-1"><i class="uk-icon-check"></i>{{ _('log in') }}</button>
			    	</div>
			    </div>
	    </fieldset>
		</form>
	</div>
</div>
{% endblock %}


